[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/gorakhargosh/auto-complete.git
[submodule "snippets/text-mode/clojure-mode"]
	path = snippets/text-mode/clojure-mode
	url = git://github.com/gorakhargosh/clojure-snippets.git
[submodule "vendor/iedit"]
	path = vendor/iedit
	url = git://github.com/gorakhargosh/iedit.git
[submodule "vendor/docutils"]
	path = vendor/docutils
	url = git://repo.or.cz/docutils.git
[submodule "vendor/python-el"]
	path = vendor/python-el
	url = git://github.com/gorakhargosh/python.el.git
[submodule "vendor/cython"]
	path = vendor/cython
	url = git://github.com/gorakhargosh/cython.git
[submodule "vendor/srspeedbar"]
	path = vendor/srspeedbar
	url = git://github.com/gorakhargosh/sr-speedbar.git
