[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/gorakhargosh/auto-complete.git
[submodule "snippets/text-mode/clojure-mode"]
	path = snippets/text-mode/clojure-mode
	url = git://github.com/gorakhargosh/clojure-snippets.git
[submodule "vendor/iedit"]
	path = vendor/iedit
	url = git://github.com/gorakhargosh/iedit.git
